<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
 <% if logged_in? %>
          <!-- <li><%= link_to "Users", '#' %></li> -->
        <!--   <ul class="dropdown-menu"> -->
            <li><%= link_to "Profile", current_user %></li>
            <!-- <li><%= link_to "Settings", '#' %></li> -->
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
   <!--        </ul> -->
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
